.inactive {
  color: rgb(42, 41, 41);
  font-weight: bold;
  margin: 20px;
  
  }
  
  .active {

    color: red;
    text-decoration: underline red;
    font-weight:bolder;
    
  }
.inactive:hover{color: red;
}
.active:hover{color: red;
}
nav {
/* 
    position: fixed;
    LEFT: 36%;
    top: 20%; */
    /* left: 0;
    width: 100%; */
   
  }
  /* h1{
    margin-top: -200%;
  } */