.inactive {
  color: rgb(42, 41, 41);
  font-weight: bold;
  margin: 20px;
  
  }
  
  .active {

    color: red;
    text-decoration: underline red;
    font-weight:bolder;
    
  }
.inactive:hover{color: red;
}
.active:hover{color: red;
}